<app-header></app-header>


<div class="image-layout">

    <div class="hash-tags">Hi {{userName}}, WELCOME TO <span class="name">ACCIONLABS</span>  <p>Trusted Partner To Global Brands</p> </div>

</div>


<!-- team container -->
<div class="container">`
  <!-- <div class="about-us">
    About us
  </div> -->

  
  <div class="wrap-about">
    <!-- <div class="wrap-content">
      At Accion Labs, we work with Technology organizations of all sizes from small 
      startups to established enterprises across the globe who are looking 
      to harness power of emerging technologies to add value to their businesses.
      <br>
      <br>
      We Are A Team Of Engineers, Designers, Thinkers, Product Managers, Problem Solvers And More. We Are Bound By Our Commitment To Help Teams Succeed And Our Culture Of Innovation.
    </div> -->

    
  </div>
  <app-blog></app-blog>

<div class="redirect">
  <div class="container-layout">
    <div class="dash-bar">Find Your Co-Workers Here!</div>
    <button class="access-btn" (click)="toFriends()" >view friends</button>
  </div>
</div>

<div class="col1">
  <div class="copyright">
    <p>@ Copyright 2018, Accion Labs, Inc.</p>
  </div>
    
  </div> 
    <!-- <mat-grid-list cols="4" rowHeight="100px" class="grid-wrp">
      <mat-grid-tile
          *ngFor="let tile of tiles"
          [colspan]="tile.cols"
          [style.background]="tile.color">
        <div class="wrap-contact">
          {{tile.conatct}}
        </div>
      </mat-grid-tile>
    </mat-grid-list> --> 
</div>


