<mat-toolbar color="primary" class="navbar">
    <mat-toolbar-row>
      <button mat-flat-button  class="btn-1" (click)="toHome()" >HOME</button>
      <button mat-flat-button class="btn-2" >FRIENDS</button>
      <button mat-flat-button class="btn-4">PROFILE</button>
      <button mat-flat-button class="btn-3" (click)="logout()" >LOGOUT</button>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <div class="head">
    <img class="img" src="https://static1.squarespace.com/static/5ab6b93e5b409be7fa331cf1/t/5ac67b8c575d1f09cf1c833c/1535701410823/?format=1500w" alt=""> 
  
</div>

<div class="personal-info">
  <div class="info">
      <p>Personal Information</p>
  </div>
  <div class="details">
    

  </div>
</div>

