<app-header></app-header>
<div class="head">
   <div> <input type="text" [(ngModel)]="filteredName" (input) = "onSearch($event)" placeholder="Search A Fellow Accionite"><mat-icon class="search">search</mat-icon></div>

        <img class="img" src="https://static1.squarespace.com/static/5ab6b93e5b409be7fa331cf1/t/5ac67b8c575d1f09cf1c833c/1535701410823/?format=1500w" alt="">
        <div class="text-1">
          <p>Your Friends At <span style="color:lightslategrey;font-weight: 500;">Accion Labs</span></p>
        </div>
 </div>

<div class="main">
 
  <mat-accordion>
     <mat-expansion-panel class="grid" (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngFor="let tile of tiles | orderBy: 'firstname'  | paginate: { itemsPerPage: 3,currentPage: p}"> 
      <mat-expansion-panel-header>
        <mat-panel-title class="header">
          <mat-icon class="icon">person</mat-icon> {{tile.firstname}} {{ tile.surname}}
        </mat-panel-title>
       
      </mat-expansion-panel-header>
      <div class="details">
        Email : <span class="email"> {{tile.email}}</span>
        <span class="bir"> Birthday : <span class="birthday"> {{tile.dob | date}}</span></span> <br>
        Phone : <span class="phone"> {{tile.mobile}}</span>
        <span class="se">Sex : <span class="sex"> {{tile.gender}} </span></span> <br>
        Employee Id : <span class="emp"> {{tile.emp_id}} </span>
      </div>
    </mat-expansion-panel>
    <div class="page">
      <pagination-controls class="custom-pagination-style" (pageChange)="p=$event"></pagination-controls>
    </div>
  </mat-accordion>

</div>

