<div class="head">
    <h1 class="post">Posts</h1>
    <h1 class="event">Upcoming Events</h1>
</div>   

<div class="grid-container">
  
  <mat-grid-list class="container1" cols="1" rowHeight="820px">
    <mat-grid-tile *ngFor="let card1 of cards1 | async" [colspan]="card1.cols" [rowspan]="card1.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{'Name'}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Share</button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle> {{'Designation'}} </mat-card-subtitle>
        </mat-card-header> 
        <img mat-card-image class="post-img"  src="https://images.unsplash.com/photo-1534109284468-ad30ffd1f41d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f4748c1ef0d8c04f6a5a8163d87e97dd&auto=format&fit=crop&w=500&q=60">
      

  <mat-card-content>
    {{'Say something about the post........'}}
    </mat-card-content>
 
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  
  <mat-grid-list class='container2' cols="1" rowHeight="250px">
    <mat-grid-tile *ngFor="let card2 of cards2 | async" [colspan]="card2.cols" [rowspan]="card2.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title> {{'Event Name'}} </mat-card-title>
        </mat-card-header> 
        <mat-card-content>
          <h1>Accion Cricket League</h1>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  

 
</div>