<form class="container-1" [formGroup]="registerForm"  >


  <div class="main-layout">
    <div class="textbox">
      <div class="heading-primary">
        <span class="heading-primary-main">Accion Friends Book</span>
        <span class="heading-primary-sub">Driving Outcomes Through Actions</span>
        <span class="content">
          <p style="font-size:25px;"> Fostering Collaboration </p> <br>
          It's not enough to just encourage collaboration.
          Companies need to create an environment where
          collaboration happens seamlessly and effortlessly
          and that's what differentiates most successful
          companies from the rest.
        </span>
      </div>
    </div>
    <div class="form-layout">
      <h1 class="text-1" style="font-weight:350;margin-left:50px;">Register Here <span style="color:firebrick;">
          Accionite!</span></h1>
      <div class="div-1">
        <mat-form-field class="inp-1">
          <input matInput placeholder="First Name" formControlName="fname" [errorStateMatcher]="matcher">
          <mat-error *ngIf="!registerForm.hasError('required')">
            Enter <strong>valid</strong> Name
          </mat-error>
        </mat-form-field>
        <mat-form-field class="inp-2">
          <input matInput placeholder="Last Name" formControlName="lname" [errorStateMatcher]="matcher" >
          <mat-error *ngIf="!registerForm.hasError('pattern')">
            Enter <strong>valid </strong>Name
          </mat-error>
        </mat-form-field>
      </div>
      <div class="div-2">
        <mat-form-field class="inp-3">
          <input matInput placeholder="Email" formControlName="Email" [errorStateMatcher]="matcher">
          <span matSuffix style="color: firebrick;" >@accionlabs.com</span>
          
          <mat-error *ngIf="!registerForm.hasError('pattern')">
            Enter <strong>valid </strong>Email Id
          </mat-error>
          
        </mat-form-field>
        
      </div>
      <div class="div-3">
        <mat-form-field class="inp-4">
            <span matPrefix>+91 &nbsp;</span>
          <input matInput placeholder="Phone Number" formControlName="phone" [errorStateMatcher]="matcher">
          <mat-error *ngIf="!registerForm.hasError('pattern')">
            Enter <strong>valid </strong>Phone Number
          </mat-error>
        </mat-form-field>
        <mat-form-field class="inp-6">
          <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="DOB" formControlName="date" [errorStateMatcher]="matcher">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="div-4">
        
        <mat-form-field class="inp-5">
          <input matInput placeholder="Password" type="password" formControlName="pass" [errorStateMatcher]="matcher">
          <mat-error *ngIf="!registerForm.hasError('required')">
            Password is <strong>Required </strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="inp-8">
          <input matInput placeholder="Employee Id" formControlName="emp" [errorStateMatcher]="matcher">
          <mat-error *ngIf="!registerForm.hasError('required')">
             Enter <strong>valid </strong> Employee Id
          </mat-error>
        </mat-form-field>


      </div>
      <div class="div-5">
        <mat-radio-group value="Female" class="inp-7" style="margin-left:35%;" formControlName="gender">
          <mat-radio-button style="margin-right:5px;" value="Male" > Male </mat-radio-button>
          <mat-radio-button  value="Female"> Female </mat-radio-button>
        </mat-radio-group>
      </div>
      <button mat-fab color="warn" class="btn-2" (click)="navigateLogin1()" > <mat-icon >
          keyboard_arrow_left</mat-icon> </button>
      <button mat-button color="primary" role="button" class="btn-1" style="margin-left:300px; font-size: 20px;" type="submit" [disabled]="registerForm.invalid" (click)="navigateLogin()" >Register</button>
    </div>


  </div>


</form>